.main-content
{
    font-size: 1.4em;
    color: aliceblue;
    margin-left: 95px;
    margin-top: 40px;
    margin-bottom: 20px
    
}

.main-content p1
{
    margin-left: 250px;
}

.main-content h3{
    margin-left: 535px;

}