body{
	background: white;
	margin: 0 auto;
	width: 100%;
}
.header{
	padding: 0px;
	display: flex;
	align-items: center;
	/* background: #444444; */
	background-color: black;
	height: 70px;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	top: 0;
	
	

	
}
.header-menu-item {
	font-size: 16px;
	list-style: none;
	display: flex;
	align-items: center;
	margin-left: 105px;
	float: left;
}
.header-menu-link{
	text-decoration-style: none;
	text-decoration-line: none;
	color: #CCCCCC;
	transition: color 0.2s ease-in-out;

}
a.header-menu-link:hover{
	color: #EEEEEE;
}
.header-logo{
	display: block;
	margin-right: 280px;
}
.header-logo-img{
	height: 100px;
	width: 100px;
	margin-left: 10px;

}
.header-account{
	margin-left: auto;
	transition: color 0.2s ease-in-out;

}
.button{
	display: inline-block;
	font-size: 16px;
	color: #CCCCCC;
	text-decoration-line: none;
	padding: 20px 45px;
	border-radius: 10px;

}
.button-signup{
	color: #CCCCCC;
	background-color: #222222;
}

.grid{
    margin: 56px auto;
	/* margin-left: 200px;
	margin-right: auto; */
    
    
    display: grid;
    /* align-items: center; */
    /* float: left; */
    width: 68%;
	grid-template-columns: 250px 250px 250px;
    grid-template-rows: 350px 350px 350px;
	grid-column-gap: 100px;
    grid-row-gap: 50px;
}
.griditem{
    text-decoration-style: none;
	text-decoration-line: none;
	color: #CCCCCC;
	transition: color 0.2s ease-in-out;
    /* padding: 150px; */
    width: 250px;

    height: 350px;

	text-align: center;

	
    
}
.griditem:hover{
	margin-top: -20px;
	
}
	


.grid_item1{
    background-color:floralwhite;
    
}


.grid2{
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
    align-items: center;
    float: left;
}
.griditem2{
    text-decoration-style: none;
	text-decoration-line: none;
	color: #CCCCCC;
	transition: color 0.2s ease-in-out;
    padding: 150px;
    width: 30px;
    height: 30px;
    
}
.grid_item4{
    background-color: black;
    
}
.grid_item5{
    background-color: black;
    
}
.grid_item6{
    background-color: black;
    
}
.grid_item7{
    background-color: black;
    
}
.grid_item8{
    background-color: black;
    
}
.grid_item9{
    background-color: black;
    
}

.grid3{
    margin-top: 50px;
    margin-left: 150px;
    display: flex;
    align-items: center;
    float: left;
}
.griditem3{
    text-decoration-style: none;
	text-decoration-line: none;
	color: #CCCCCC;
	transition: color 0.2s ease-in-out;
    padding: 150px;
    width: 30px;
    height: 30px;
    
}
.banner{
	margin: 70px auto;
    width: 100%;
    height: 500px;
    /* background-color: black; */
    /* align-items: center;
    margin-left: 80px; */
    /* border-radius: 10px; */
	background-image: url("../images/bannerip.jpg");
	background-position: center center;
  	background-repeat:no-repeat; 
	/* -webkit-animation: slide 14s ease infinite; */
    
}
.banner_img{
	height: 80px;
	width: 100%;
}
.item1{
    width: 100px;
    height: 100px;
    align-items: center;
    padding: 0;
    margin: 0px 0px 0px 10px;
}
.nav{
    padding: 0px;
	display: flex;
	align-items: center;
	/* background: #444444; */
	height: 30px;
	width: 65%;
	
    margin-top: -15px;
	margin-bottom: 30px;
    margin-left: 230px;
	border: 1px solid black;
	text-align: center;
	border-radius: 10px;

}
.nav-item{
    font-size: 14px;
	list-style: none;
	display: block;
	/* align-items: center; */
	margin-left:90px;
    margin-top: -11px;
	float: left;
	align-items: center;
	text-align: center;
    
    
}
.nav-item-link{
    text-decoration-style: none;
	text-decoration-line: none;
	color:#222222;
	transition: color 0.2s ease-in-out;
    
}
.drapped{
	margin: 0 auto;
	
}

/* .griditem_images{
	background-color: #CCCCCC;
	width: 250px;
	height: 232px;
	display: block;

} */


/* Add styles to the form container */
.container {
	position: static;
	right: 35%;	
	left: 35%;
	margin: 120px auto;
	max-width: 350px;
	padding: 16px;
	background-color: white;
	top: 25%;
	border-radius: 10px 10px;
	
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
	background-color: black;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
	border-radius: 10px 10px;
	;
  }
  
  .btn:hover {
	opacity: 1;
  }
  * {
	box-sizing: border-box;
  }
  
  .login{
	  height: 420px;
	  width: 100%;
  }

  .griditem_label{
	  margin-top: 10px;
  }

  /* css detail*/
  .div-detail{
	  box-sizing: border-box;
	  display: block;
	  height: 800px;
	  margin-bottom: 20px;

  }
  .detail{
	background: gray;
	height: 400px;
	width: 400px;
	margin-top: 200px;
	margin-left: 15% ;
	float: left;
	border-radius: 5px 5px;
	border: 1px;
	display: flex;
}


.name{
	background:#FFFAFA;
	height: 50px;
	width: 600px;
	margin-top: 200px;
	margin-left: 5px;
	float: left;
	border-radius: 5px 5px;
	border: 1px solid gray;
	display: flex;
}
.price{
	background:#FFFAFA;
	height: 50px;
	width: 600px;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	border-radius: 5px 5px;
	border: 1px solid gray;
	display: flex;
}
.dc{
	background:#FFFAFA;
	height: 220px;
	width: 600px;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	border-radius: 5px 5px;
	border: 1px;
	display: flex;
	border: 1px solid gray;
}
.buy{
	height: 70px;
	width: 600px;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	border-radius: 5px 5px;
	border: 1px;
	display: flex;
	/* text-decoration: none;
	text-align: center;
	font-size: 10; */
}

.order{
	background:#E5A300;
	height: 70px;
	width: 250px;
	margin-top:0 ;
	margin-left: 35px;
	text-align: center;
	float: left;
	border-radius: 10px 10px;
	border: 2px;
	opacity: 0.8;
	
}
.addbox	{
	background:#E5A300;
	height: 70px;
	width: 250px;
	margin-top:0;
	margin-left: 30px;
	text-align: center;
	float: left;
	border-radius: 10px 10px;
	border: 2px;
	opacity: 0.8;
	
}
.addbox:hover{
	opacity: 1;

}
.order:hover{
	opacity: 1;
}
.splq{
	margin-left: 15% ;
	float: left;
}
.order_add{
	color:white;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	font-size: 25px;
	display: inline-flex;
	padding-top: 15px;
	padding-bottom: 20px;
}


