/* Add styles to the form container */
.container {
	position: static;
	right: 35%;	
	left: 35%;
	margin: 120px auto;
	max-width: 350px;
	padding: 16px;
	background-color: white;
	top: 25%;
	border-radius: 10px 10px;
	
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
	background-color: black;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
	border-radius: 10px 10px;
	;
  }
  
  .btn:hover {
	opacity: 1;
  }
  * {
	box-sizing: border-box;
  }
  
  .login{
	  height: 420px;
	  width: 100%;
  }